/* google font */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

/* common shared style */
* {
    margin: 0;
    padding: 0;
}
section {
    margin: 80px 0;
}
.container {
    /* width: 1320px; */
    width: 1250px;
    margin: auto;
}

/* header */
header{
    font-family: 'Merriweather', serif;
}
.header-banner {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Banner\ Image.png');
    margin: auto;
    margin-top: 30px;
    text-align: center;
}
.header-content {
    width: 45%;
    margin: auto;
    color: #fff;
    padding-top: 150px;
}
.header-h4 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 30px;
} 
.header-h1 {
    font-size: 68px;
    font-weight: 900;
    line-height: 95px;
}

/* off wrapper */
.off-wrapper{
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: 'Inter', sans-serif;
}
.off-h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}
.off-h6 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 8px;
}
.off-h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
}
.off-wrapper img {
    width: 100%;
}

/* welcome section */
.welcome-content-banner {
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin: auto;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../resources/Vectorrr.png');
    display: flex;
}
.welcome-content {
    width: 640px;
    padding: 126px;
    color: #fff
}
.welcome-h1 {
    font-size: 64px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 24px;
}
.welcome-p {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 35px;
}
.welcome-btn {
    padding: 15px 25px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
}
.welcome-btn:hover {
    color: #fff;
    background-color: #070211;
}
.welcome-content-banner img {
    width: 25%;
    height: 70%;
    margin-top: 140px;
}

/* schedule section */
.schedules {
    width: 1320px;
    margin: auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 8px;
    padding: 80px 0px;
    text-align: center;
}
.schedule-span {
    color: #F00;
}
.schedule-h2 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.btn-schedule {
    color: #fff;
    background-color: #F00;
    padding: 15px 25px;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s;
    margin-top: 30px;
}
.btn-schedule:hover {
    color: #fff;
    background-color: #cf5151;
}

/* best offer section */
#best-offer-section {
    margin: 130px 0;
}
.best-offer-wrapper {
    display: flex;
    justify-content: space-around;
}
.best-offer {
    width: 25%;
    font-family: Inter;
}
.best-offer-h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}
.best-offer-h3 {
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 22px;
}
.best-offer-p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.best-offer-img img {
    width: 100%;
    padding: 10px;
    border: 10px solid #F00;
    border-radius: 100%;
}
.best-offer-next-h3 {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.best-offer-p {
    margin-bottom: 45px;
}

/* holiday sell section */
.holiday-sell-heading {
    width: 55%;
    margin: auto;
    text-align: center;
    font-family: Inter;
    margin-bottom: 40px;
}
.holiday-h4 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.holiday-span {
    color: #F00;
}
.holiday-h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 62px;
    font-weight: 900;
    margin-bottom: 20px;
}
.holiday-p {
    color: rgba(7, 2, 17, 0.60);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.holiday-sell-content {
    width: 100%;
    height: 85vh;
    position: relative;
}
.img0 {
    position: absolute;
    left: 55%;
    z-index: 1;
}
.img3 {
    width: 50%;
    position: absolute;
    bottom: 0;
    left: 5%;
}
.img3 img {
    width: 100%;
}
.img2 {
    width: 30%;
    position: absolute;
    right: 0;
    bottom: 30%;
}
.img2 img {
    width: 100%;
    vertical-align: middle;
}
.img1 {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
}
.img1 img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

/* portfolio section */
.portfolio-section {
    font-family: Inter;
    margin: 50px 0;
}
.portfolio-h4 {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 12px;
}
.portfolio-h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 18px;
}
.portfolio-p {
    width: 70%;
}
.portfolio-box-asset {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.portfolio-box {
    width: 32%;
}
.portfolio-box img {
    width: 100%;
}

/* newslater section */
.newslater-section {
    font-family: Inter;
}
.newslater-content-wrapper {
    background: rgba(255, 0, 0, 0.05);
    border-radius: 16px;
}
.newslater-content {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 70px 0px;
}
.newslater-h1 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    font-family: Merriweather;
    margin-top: 40px;
    margin-bottom: 22px;
}
.input-area {
    position: relative;
    margin-top: 30px;
}
.newslater-content input {
    padding: 22px 28px;
    border: none;
    font-size: 16px;
    
}
.newslater-content .input-email {
    width: 50%;
    border-radius: 30px 0px 0px 30px;
}
.newslater-content .input-subscribe {
    border-radius: 0px 30px 30px 0px;
    background-color: #F00;
    color: #fff;
    font-size: 18px;
    margin-left: 0px;
    cursor: pointer;
    position: absolute;
    transition: all .3s;
}
.input-subscribe:hover {
    background-color: rgb(168, 63, 63);
    color: #fff;
}

/* footer section */
/* footer {
    background-color: #070211;
}
.footer-content {
    padding: 70px 0px;
} */